h1, h2, h3, h4, h5, p, a {
  font-family: "Helvetica", sans-serif;
  color: seashell;
}

body {
    background-color: black;
    opacity: 0.9;
}

header {
    display: flex;
    align-items: center;
    height: 69px;
    width: 1400px;
    justify-content: space-between;
    
}

.logo {
    height: 50px;
    margin: 10px;
    justify-content: flex-start;
}

.nav {
    text-decoration: underline;
    color: gray;
    margin: 5px;
    font-size: 20px;
    justify-content: flex-end;
}

.banner {
  background-image: url("./resources/img/img-mission-background.jpeg");
  text-align: center;
  position: relative;
  height: 700px;
  width: 1200px;
  
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    margin: -5px;
    background-color: black;
    width: 1600px;
    transform: translate(-50%, -50%);
}

.teaOTMTitle {
    text-align: center;
    width: 1000px;
}

.teaOTM {
    display: inline-flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.tea_nested {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin-bottom: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.teaItem {
    margin: 10px;

}

.locationsTitle {
    text-align: center;
    width: 1000px;
}

.locations {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    background-image: url("./resources/img/img-locations-background.jpeg");
    background-size: fill;
    margin: 10px;
}

.locations_nested {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
}

.locationsItem {
    margin: 15px;

}

.contact {
    text-align: center;
}

.footer {
    text-align: left;
    margin: 20px;
}
